<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog|}}
  <article class="blog blue">
    <div class="blog__text">
      <h1 class="blog__title blue">
        <a href="/blog/{{blog.id}}">{{blog.title}}</a>
      </h1>
      <div class="blog__subtitle small">
        <p>Created by
          {{blog.user.username}}
          on
          {{format_date blog.date_created}}</p>
      </div>
      <div class="blog__bar"></div>
      <div class="blog__preview-txt">
        <p>{{blog.content}}</p>
      </div>
    </div>
  </article>
{{/each}}